* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: url("../assets/cindy-tang-25654-unsplash.jpg") left no-repeat fixed;
  background-size: cover;
  font-family: "Thasadith", sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.75);
  color: white;
  width: 70%;
  margin: 50px auto;
  box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.2);
  padding: 20px;
  @media (max-width: 768px) {
    padding: 10px;
    margin: 0 auto;
    width: 90%;
   }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #666;
  margin-bottom: 20px;
  min-width: 100px;
  max-width: 420px;
  min-height: 0;
}

.hide {
  display: none;
}

h1 {
  text-align: center;
  color: #29a0c2;
  font-weight: lighter;
  font-size: 40px;
  @media (max-width: 768px) {
    font-size: 34px;
   }
}

h2 {
  margin: 15px auto;
  font-size: 28px;
  color: #555;
}

.field-wrap {
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin: 10px;
  width: 100%;
}

label {
  width: auto;
  color: #777;
}

.total-label {
  font-weight: bold;
  color: #555;
}

input {
  max-width: 175px;
  font-size: 18px;
  padding: 8px;
  border: none;
  border: 1px solid #999;
  text-align: right;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.userInput {
  background-color: #fff;
}

.calculation {
  background-color: #f7f7f7;
}

#keyValues  {
  background: rgba(213,232,207,0.4);
  padding: 0 20px 20px 20px;
}

.buttons {
  width: 100%;
  text-align: center;
}

#right-arrow {
  height: 20px;
  width: 20px;
  color: white;
}

#reset {
  display: block;
  margin: 0 auto;
  height: 30px;
}

button {
  font-size: 17px;
  padding: 10px;
  background: linear-gradient(to bottom, hsl(182, 65%, 50%), hsl(195, 65%, 50%));
  color: white;
  height: 40px;
  border-radius: 10px;
  margin: 3px;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.26);
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

@media (max-width: 438px) {
  .container {
    width: 100%;
    padding: 10px 0;
  }
  .card {
    align-items: start;
  }
  h3, p {
    margin: 10px 3px;
  }
}
