body {
  background-color: #eee;
}

.container {
  // max-width: 1300px;
  text-align: center;
}

div {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  min-width: 432px;
}

h1 {
  margin: 1em;
  text-align: center;
}


p {
  font-size: 18px;
}

input {
  border: 0px solid;
  border-radius: 7%;
  font-size: 14px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.userInput {
  background-color: #d6eaf5;
}

.calculation {
  background-color: #fff;
}

#keyValues  {
  font-weight: bold;
}

// @media (max-width: 1055px) {
//   div {
//     display: block;
//     margin-bottom: 50px;
//   }
// }
