body {
  background-color: #eee;
}

.container {
  // max-width: 1300px;
  text-align: center;
}

div {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  min-width: 440px;
}

h1 {
  margin: 1em;
  text-align: center;
  color: #29a0c2;
}

h2 {
  color: #c24b29;
}

p {
  font-size: 20px;
}

input {
  border-radius: 7%;
  font-size: 18px;
  width: 160px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.userInput {
  background-color: #fff;
}

.calculation {
  background-color: #fff2e5;
}

#keyValues  {
  font-weight: bold;
}

// @media (max-width: 1055px) {
//   div {
//     display: block;
//     margin-bottom: 50px;
//   }
// }
